div(class="card mb-4 shadow-sm")
	div(class="card-header")
		h2(class="h6 mb-0") Tools
	div(class="card-body", style="padding-bottom: 0px;")
		div(class="row")
			each item, index in [[0, 1], [2, 4], [3, 6], [5, 7]]
				div(class="col-md-3")
					ul(style="list-style-type: none;", class="pl-0")
						each toolIndex, toolIndexIndex in item
							- var siteTool = config.siteTools[toolIndex];

							li(class="text-center")
								if(!config.demoSite && (siteTool.name =="Node Status" || siteTool.name =="RPC Browser" || siteTool.name  == "RPC Terminal" || siteTool.name == "Peers"))
									span
								else
									a(href=siteTool.url) #{siteTool.name}

									if(toolIndexIndex === 0)
										<br><br>
